{% extends 'base.html' %}


{% block head %}
<h1>Home page</h1>

{% endblock %}




{% block body %}
<div>
	<h1>Category</h1>

	{% for category in categories %}
		<a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}"> <p>{{restaurant.name}}</p></a>

		<p><a href = "{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">Edit Restaurant</a></p>

		<p> <a href = "{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}">Delete Restaurant</a> </p>
	{% endfor %}

</div>

{% endblock %}


